APP_NAME=Vip2Cars
APP_ENV=production
APP_KEY=base64:eYcMUlEp01I/h8LiT8iwqzQ/4msnaviweEpi5Vg2pZc=
APP_DEBUG=false
APP_URL=http://localhost
APP_TIMEZONE=UTC

APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=es_PE

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=info

# =========================
# Base de datos
# =========================
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=vip2cars
DB_USERNAME=vip2cars
DB_PASSWORD=vip2cars

# =========================
# Sesiones
# =========================
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

# =========================
# Cache
# =========================
CACHE_STORE=redis
CACHE_PREFIX=vip2cars_cache

# =========================
# Queue
# =========================
QUEUE_CONNECTION=redis

# =========================
# Redis
# =========================
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# =========================
# Broadcast
# =========================
BROADCAST_CONNECTION=log

# =========================
# Filesystem
# =========================
FILESYSTEM_DISK=local

# =========================
# Mail
# =========================
MAIL_MAILER=log
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="no-reply@vip2cars.local"
MAIL_FROM_NAME="${APP_NAME}"

# =========================
# Vite / Frontend
# =========================
VITE_APP_NAME="${APP_NAME}"

# =========================
# Seguridad
# =========================
BCRYPT_ROUNDS=12